
<script type="text/javascript" src="./assets/js/fragment/operate-log-d3ec67ae5d.js"></script>
<div class="-page-container">
    <div class="pb-10px form-list">
        <form class="cf bs-bb -search-form">
            <div class="cf w-270px fl-l mt-5px">
                <div class="fl-l ta-r mt-5px fz-14px w-40">用户</div>
                <div class="w-60 fl-r pl-20px">
                    <select name="userId"></select>
                </div>
            </div>
            <div class="cf w-270px fl-l mt-5px">
                <div class="fl-l ta-r mt-5px fz-14px w-40">项目</div>
                <div class="w-60 fl-r pl-20px">
                    <select name="projectId"></select>
                </div>
            </div>
            <div class="cf w-270px fl-l h-30px mt-5px">
                <div class="fl-l ta-r mt-5px fz-14px w-40">开始时间</div>
                <div class="w-60 fl-r pl-20px">
                    <input name="startDate"  type="text">
                </div>
            </div>
            <div class="cf w-270px fl-l h-30px mt-5px">
                <div class="fl-l ta-r mt-5px fz-14px w-40">结束时间</div>
                <div class="w-60 fl-r pl-20px">
                    <input name="endDate"  type="text">
                </div>
            </div>
            <div class="fl-l ml-10px mt-5px">
                <a class="btn -ser-btn" href="javascript:void(0);">
                    <i class="iconfont icon-search"></i>
                    <span>搜索</span>
                </a>
            </div>
        </form>
    </div>
</div>