@import 'modules/normalize';
@import 'modules/font/iconfont.scss';
@import 'modules/grid';
@import 'modules/jquery.toolbar';
@import 'modules/buttons-noty';
/**
 * @author Dennis.li;
 * @time 2016-04-22;
 */
html {
  height: 100% !important;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

body, ul, dd, dl, p, table, 
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,th {
    padding: 0;
    font-weight: 300;
}

/* 默认 scrollbar 样式：*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FFF;
  background-clip: content-box;
  border-left: 1px solid #DDD;
}

::-webkit-scrollbar-thumb {
  background-color: #C5C5C5;
  background-clip: content-box;
  box-shadow: inset 0 0 1px 1px rgba(200,200,200,0.2);
  border-radius: 2px;
  border-bottom: 1px solid #F7F7F7;
  border-top: 1px solid #f7f7f7;
}

::-webkit-scrollbar-thumb:horizontal {
  border: none;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

::-webkit-scrollbar-corner {
  background-color: #C5C5C5;
}

::-webkit-scrollbar-button {
  height: 11px;
  width: 11px;
  box-shadow: inset 0 0 1px 1px rgba(200,200,200,.1);
  background: #B5B5B5 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoCAMAAACVZWnNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABgUExURQAAAPr6+gAAAP///xQUFAAAAP////////7+/v///////wAAACsrK////wAAAPv7+4yMjP////////v7+/////39/erq6nx8fKysrP7+/v///////9zc3Ojo6P39/f///9bST8wAAAAgdFJOUwCAISMbB8yNtGXlAypzEVs7GjBUEKhPKke7CQZtfZ2/DRDqFgAAAW5JREFUSMftldluwyAQRcELYGwCeI+X5v//spbhDlWT5qlS1Sg8HTFzWTRXM4z95SqLEpTd0+XCnlA92akO5LgDKdA4xmPKbQPxHUcXtrLFSQ2XvAmkhAo0SelCnlNqDjRrHYl1VVV1JxkppTlpEEIM2OMhTyr1EUhofWXv9c9WkWVZMEnWNE32jYpjpTyi4jdMsh7i9aTlsOdyUn8Tt/4kL2Ue8nKl2kCt1i3e3ds+kueeITNK2Nghz1Ygbl69lvVzKoiyeyopWjZEU4p2FN2JhnjIxXF0rvmDSEA8UQ0clyAVw8sosbcphVJpneoHMadEJXB2ElsSmyTuSezp5vxGD/PkiBxR1qYetpKJFkrsh3fL+HHO1TTdHhBFGc3DL+Q7cL43kdoBlJsJI1E60HUG+cpOqCOPQ60VymFPjjCO2iJpvZO4spTIIRbqgdiS2KSbe7rZ083oXAadiaGZHc9u059X2M8ssN/Qv65DPgFSSRFdHif1OwAAAABJRU5ErkJggg==');
  border: 1px solid #a8a8a8;
  border-radius: 2px;
}

::-webkit-scrollbar-button:vertical {
  border-width: 0 0 0 1px;
  background-position-x: -10px
}

::-webkit-scrollbar-button:horizontal {
  border-width: 0 0 0 1px;
  background-position-y: -20px
}

::-webkit-scrollbar-button:horizontal:end {
  background-position-y: -30px
}

::-webkit-scrollbar-button:vertical:increment {
  border-width: 1px 0 0 1px;
  background-position-y: -10px
}

::-webkit-scrollbar-button:hover {
  background-position-x: -20px;
  background-color: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}


.wkit-scrollbar-n::-webkit-scrollbar {
  display: none;
}
/* 主要用于a标签内部 */
u,.stretch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* ie 8 如果内容为空可能a标 无法获取焦点的问题 input 有同样的问题 */
  background-image: url(data:image/png;base64,)\9;
}

.bg-default {
  background-color: #F3F8FF
}

.bg-g-c,.modal {
  background-color: #ccc;
  opacity: 0.6;
  z-index: 49999;
}

.bg-w {
  background-color: #fff;
}

.bg-cor-w {
  background-color: #fff
}

.bor-n {
  border: none;
}

.bor-n-i {
  border: none!important;
}

.bor-b-rf {
  border-bottom: 1px solid  #dfdfdd
}

.bor-cor-g-c {
  border: 1px solid #ccc;
}

.bor-t-brand {
  border-top: 2px solid #FD4E3D;
}

.bor-t-c {
  border-top: 1px solid #ccc;
}

.bor-sdw{
  -moz-box-shadow:0 0 3px #B5B5B5;
  -webkit-box-shadow:0 0 3px #B5B5B5;
  box-shadow:0 0 3px #B5B5B5;
}

.bor-sdw-6px {
  -moz-box-shadow:0 0 3px #B5B5B5;
  -webkit-box-shadow:0 0 3px #B5B5B5;
  box-shadow:0 0 3px #B5B5B5;
}

.bor-r-10px{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.bor-r-5px{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bor-r-50{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bs-bb {
  box-sizing: border-box;
}

.base-btn {
  font-size: 18px;
  padding: 4px 20px;
  border-radius: 5px;
  background-color: #42C3F5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.base-btn:hover {
  background-image: linear-gradient(transparent,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0.20));
  //background-color: #D14032\9;
}

.cf {
  zoom: 1
}

.cor-333-i {
  color: #333!important;
}

.cor-green-i {
  color: #16a085!important;
}

.cor-success {
  color: #a0d468;
}

.cor-error {
  color: #FD4E3D;
}

.cor-g-b {
  color: #198eff;
}

.cor-w {
  color: #fff;
}

.cf:before,.cf:after {
  content: "";
  display: block
}

.cf:after {
  clear: both
}

.cor-g-e {
  color: #eee
}

.cor-btn-blue {
  color: #24b5ed
}

.cur-p {
  cursor: pointer
}

.d-b {
  display: block;
}

.d-ib {
  display:inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle
}

.d-ib-wrap {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em
}

.d-n {
  display: none
}

.d-ni {
  display: none!important
}

.d-table {
  display: table;
}

.d-cell {
  display: table-cell;
}

.disable-btn{
  color:#999;
  background-color: #DADADA!important;
}

.disable-btn:hover {
  background: #dadada;
  cursor: not-allowed;
}

.fl-l {
  float: left
}

.fl-r {
  float: right
}

.fw-b {
  font-weight: bold
}

.fw-n {
  font-weight: 300
}

.fz-12px {
  font-size: 12px
}

.fz-12px-i {
  font-size: 12px!important;
}

.fz-14px {
  font-size: 14px
}

.fz-16px {
  font-size: 16px
}

.fz-18px {
  font-size: 18px
}

.fz-20px {
  font-size: 20px
}

.fz-22px {
  font-size: 22px
}

.fz-24px {
  font-size: 24px
}

.fz-26px {
  font-size: 26px
}

.h-100 {
  height: 100%
}

.h-100px {
  height: 100px
}

.h-150px {
  height: 150px
}

.lh-135 {
  line-height: 1.35
}

.lh-150 {
  line-height: 1.5
}

.lh-175 {
  line-height: 1.75
}

.lh-200 {
  line-height: 2
}

.min-h-100 {
  min-height: 100%
}

.min-h-150px {
  min-height: 150px;
}

.max-h-100 {
  max-height: 100%
}

.m-a {
  margin: auto;
}

.m-n {
  margin: 0;
}

.m-5px {
  margin: 5px;
}

.m-10px {
  margin: 10px;
}

.m-15px {
  margin: 15px;
}

.m-20px {
  margin: 20px;
}

.mt-10px {
  margin-top: 10px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mb-20px {
  margin-bottom: 20px;
}

.ml-5px {
  margin-left: 5px;
}

.ml-10px {
  margin-left: 10px
}

.ml-15px {
  margin-left: 15px
}

.ml-20px {
  margin-left: 20px
}

.mt-5px {
  margin-top: 5px;
}

.mt-10px {
  margin-top: 10px;
}

.mt-15px {
  margin-top: 15px;
}

.mt-20px {
  margin-top: 20px;
}

.mr-5px {
  margin-right: 5px;
}

.mr-10px {
  margin-right: 10px;
}

.mr-15px {
  margin-right: 15px;
}

.mr-20px {
  margin-right: 20px;
}

.op-5 {
  opacity: 0.5
}

.op-0 {
  opacity: 0
}

.ov-a {
  overflow: auto;
}

.ov-h {
  overflow: hidden
}

.ov-e {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  zoom: 1
}

.ov-y-a {
  overflow-y: auto;
}

.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10px;
}

.p-15px {
  padding: 15px;
}

.p-20px {
  padding: 20px
}

.p-25px {
  padding: 25px
}

.p-30px {
  padding: 30px
}

.pb-5px {
  padding-bottom: 5px
}

.pb-10px {
  padding-bottom: 10px
}

.pb-15px {
  padding-bottom: 15px
}

.pb-20px {
  padding-bottom: 20px
}

.pb-30px {
  padding-bottom: 20px
}

.pb-50px {
  padding-bottom: 50px
}

.pl-5px {
  padding-left: 5px;
}

.pl-10px {
  padding-left: 10px
}

.pl-15px {
  padding-left: 15px
}

.pl-20px {
  padding-left: 20px
}

.pt-5px {
  padding-top: 5px
}

.pt-10px {
  padding-top: 10px
}

.pt-15px {
  padding-top: 15px
}

.pt-20px {
  padding-top: 20px
}

.pr-5px {
  padding-right: 5px;
}

.pr-10px {
  padding-right: 10px
}

.pr-15px {
  padding-right: 15px
}

.pr-20px {
  padding-right: 20px
}

.pos-a {
  position: absolute
}

.pos-f {
  position: fixed
}

.pos-r {
  position: relative
}

.pre-line {
  white-space: pre-line;
  margin: 0;
}

.ta-c {
  text-align: center
}

.ta-r {
  text-align: right
}

.ta-l {
  text-align: left
}

.va-m {
  vertical-align: middle
}

.va-t {
  vertical-align: top
}

.va-b {
  vertical-align: bottom
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-90 {
  width: 90%;
}

.w-95{
  width: 95%;
}

.w-100px {
  width: 100px;
}

.w-120px {
  width: 120px;
}

.w-135px {
  width: 135px;
}

.w-200px {
  width: 200px;
}

.w-250px {
  width: 250px;
}

.w-350px {
  width: 350px
}

.w-500px {
  width: 500px
}

.w-960px {
  width: 960px;
}

.wb-ba {
  word-break: break-all;
}

.z-1 {
  z-index: 1
}
/* 页面布局中最高值 */
.z-99 {
  z-index: 299
}

.z--1 {
  z-index: -1
}

.z-top {
  z-index: 6999999;
}

/**
 *  以下非通用样式；
 */
.loader-circle,.loader-circle:after {
  content: '';
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
}

.loader-circle {
  font-size: 12px;
  position: relative;
  text-indent: -9999em;
  border-top: 10px solid rgba(251, 110, 82, 1);
  border-right: 10px solid rgba(45, 195, 232, 1);
  border-bottom: 10px solid rgba(160, 212, 104, 1);
  border-left: 10px solid rgba(255, 206, 85,1);
  -webkit-animation: loader-kf .8s infinite linear;
  -moz-animation: loader-kf .8s infinite linear;
  -o-animation: loader-kf .8s infinite linear;
  animation: loader-kf .8s infinite linear;
}

@-webkit-keyframes loader-kf {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-kf {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.signin-btn-blue {
  background-color: #198eff;
  color: #fff;
}

.signin-btn-blue:hover {
  background-image: linear-gradient(transparent,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0.40));
}


/** split-btn  begin */

.split-btn {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

.split-btn-body {
  color: #fff;
  border-radius: 2px;
  background-color: #F54545;
  background-image: linear-gradient(transparent,rgba(0,0,0,0.015) 50%,rgba(0,0,0,0.20));
}

.split-btn-body:hover {
  background-color: #FF6643;
}


.split-btn-body:hover .arrow:after {
  border-color: #FF6643 transparent transparent transparent;
}

.split-btn-body .split-text {
  display: inline-block;
  padding: 2px 5px;
}

.split-btn-body .arrow {
  position: relative;
  display: inline-block;
  border-left: 1px solid #C73D1D;
  height: 100%;
  width: 15px;
  padding: 2px 3px;
  cursor: pointer;
  box-sizing: content-box;
}

.split-btn-body .arrow:before {
  content: '';
  position: relative;
  top: 10px;
  left: 1px;
  margin: 2px;
  border: 5px solid;
  border-color: #fff transparent transparent transparent;
}

.split-btn-body .arrow:after {
  content: '';
  position: absolute;
  border: 3px solid;
  top: 9px;
  left: 8px;
  border-color: #ED4E2A transparent transparent transparent;
}

.split-btn-body .arrow:hover {
  background-color: #E05434;
}

.split-btn-body .arrow:hover:after {
  border-color: #E05434 transparent transparent transparent;
}

.split-btn .list {
  margin: 4px 0 0;
  background-color: #fff;
  box-shadow: 0 0 4px #aaa;
  padding: 2px 0;
  border-radius: 2px;
  color: #444;
  min-width: 120px;
  z-index: 99;
}

.split-btn .list li {
  padding: 0 5px;
  cursor: pointer;
}
.split-btn .list li:hover {
  color: #fff;
  background-image: linear-gradient(transparent,rgba(0,0,0,0.015) 50%,rgba(0,0,0,0.20));
  background-color: #ED4E2A;
}
/** split-btn  end */


.menu-expand-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f54545;
  font-size: 12px;
  cursor: pointer;
}


/** tab start */
.tab {
  border: 1px solid #e1e1e1;
}

.tab .header-container {
  background-image: linear-gradient(to bottom,#fff 0,#ededed 100%);
  background-color: #f1f1f1;
}

.tab .tab-header {
  padding: 8px 10px;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}

.tab .tab-header.active {
  border-top: 2px solid #f54545;
  box-shadow: 0 0 4px #ccc;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
  margin-top: -1px;
  cursor: default;
}

.tab .tab-close, .tab .tab-refresh {
  position: relative;
  right: -10px;
  top: -5px;
  color: #ccc;
  cursor: pointer;
  display: none;
}

.tab .active .tab-close, .tab .active .tab-refresh {
  display: inline-block;
}

.tab .active .tab-close:hover, .tab .active .tab-refresh:hover {
  color: red
}
/** tab end */